@page "/todo"
@rendermode InteractiveServer

<PageTitle>Todo</PageTitle>

<h3>Todo (@todos.Count(todo => !todo.IsDone))</h3>

<ul>
    @foreach (var todo in todos)
    {
        <li>
            <input type="checkbox" @bind="todo.IsDone" />
            <input @bind="todo.Title" />
        </li>
    }
</ul>

<div class="input-group mb-3">
  <span class="input-group-text" id="basic-addon1">?</span>
  <input type="text" class="form-control" placeholder="Add task" id="inputGroupFile04" aria-describedby="inputGroupFileAddon04" aria-label="Todo" @bind="newTodo" >
  <button class="btn btn-outline-secondary" type="button" id="inputGroupFileAddon04" @onclick="AddTodo">Button</button>
</div>

@code {
    private List<TodoItem> todos = new();
    string newTodo = "";

    void AddTodo()
    {
        if (!string.IsNullOrWhiteSpace(newTodo))
        {
            todos.Add(new TodoItem { Title = newTodo });
            newTodo = string.Empty;
        }
    }
}